/*
Theme Name: Charity Walk

Adding support for languages written in a Right To Left (RTL) direction is easy,
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support

*/

body {
	direction: rtl;
	unicode-bidi: embed;
}

.rtl .vc_align_right{
	text-align:  left !important;
}

@media (min-width: 992px){
	.rtl .text-lg-right {
	    text-align: left !important;
	}
}