	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/07/2018 12:39
  	*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
         font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-heart:before { content: "\f100"; }
.flaticon-home:before { content: "\f101"; }
.flaticon-donation:before { content: "\f102"; }
.flaticon-driver:before { content: "\f103"; }
.flaticon-family:before { content: "\f104"; }
.flaticon-school-material:before { content: "\f105"; }
.flaticon-saving-a-dollar-coin:before { content: "\f106"; }
.flaticon-eco-volunteer:before { content: "\f107"; }
.flaticon-tool:before { content: "\f108"; }
.flaticon-graduation-student-black-cap:before { content: "\f109"; }
.flaticon-globe:before { content: "\f10a"; }
.flaticon-black-male-user-symbol:before { content: "\f10b"; }
.flaticon-movie-film:before { content: "\f10c"; }
.flaticon-school:before { content: "\f10d"; }
.flaticon-give-money:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-medical:before { content: "\f110"; }
.flaticon-play-button-1:before { content: "\f111"; }
.flaticon-email:before { content: "\f112"; }
.flaticon-arrows:before { content: "\f113"; }
.flaticon-fruit:before { content: "\f114"; }
.flaticon-telephone:before { content: "\f115"; }
.flaticon-share:before { content: "\f116"; }
.flaticon-phone-call:before { content: "\f117"; }
.flaticon-play-button:before { content: "\f118"; }
.flaticon-favorite:before { content: "\f119"; }
.flaticon-money-2:before { content: "\f11a"; }
.flaticon-real-estate:before { content: "\f11b"; }
.flaticon-money-1:before { content: "\f11c"; }
.flaticon-shapes:before { content: "\f11d"; }
.flaticon-multimedia-1:before { content: "\f11e"; }
.flaticon-multimedia:before { content: "\f11f"; }
.flaticon-transfer:before { content: "\f120"; }
.flaticon-money:before { content: "\f121"; }
.flaticon-signs:before { content: "\f122"; }
.flaticon-user-icon:before { content: "\f123"; }