.red-footer{
	margin-top: 100px;
	&.has-client-top{
		margin-top: 0;
	}
}
.red-footer-top{
	.wg-title{
		font-family: $extra_font;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: -0.05em;
		margin-bottom: 28px;
		line-height: 1.7333333333;
	}
	ul{
		margin-left: 0;
	}
	.footer-logo{
		img{
			width: $footer_logo_max_width;
		}
	}
	.footer-contact-info{
		padding: 0;
		list-style: none;
		li{
			font-size: 15px;
			color: #fff;
			letter-spacing: -0.02em;
		    margin-bottom: 17px;
    		line-height: 20px;
    		position: relative;
			i{
				color: $primary_color;
				margin-right: 10px;
				font-size: 20px;
    			min-width: 20px;
			}
			@media screen and (min-width: 768px){
				padding-left: 33px;
				i{
					position: absolute;
	    			top: 3px;
	    			left: 0;
    			}	
			}
			a{
				color: inherit;
				&:hover{
					color: $link_color_hover;
				}
			}
		}
	}
	.widget_nav_menu{
		ul{
		    padding-left: 0;
		    list-style: none;
		    li{
		        display: inline-block;
		        position: relative;
		        padding: 0 16px;
		        +li:before{
		        	content: "";
		        	position: absolute;
		        	left: -1px;
		        	top: 50%;
		        	margin-top: -5px;
		        	background-color: #bdbdbd;
		        	width: 1px;
		        	height: 11px;
		        }
		        &:first-child{
		        	padding-left: 0;
		        }
		        &:last-child{
		        	padding-right: 0;
		        }
		        a{
		        	font-family: $body_font_family;
		        	letter-spacing: 0.01em;
		        	font-size: 14px;
		        	color: #bdbdbd;
		        	&:hover{
		        		color: $link_color_hover;
		        	}
		        }
		        @media screen and (max-width: 480px){
		        	padding: 0 5px;
		        	+li:before{
		        		content: none;
		        	}
		        }
		    }
		}
	}
	.red-social{
		a{
			margin: 0 3px 0 0;
			background-color: rgba(255,255,255,0.05);
			color: #fff;
		}
	}
	.red-recent-post .entry-title{
		line-height: 20px;
	} 

	.btn,
	.btn-default,
	button,
	.button,
	input[type="button"],
	input[type="submit"]{
	    padding: 10px 30px;
	    margin-top: 30px;
	    font-size: 11px;
	    letter-spacing: -0.02em;
	    line-height: 25px;
	}
	.red-recent-post.style0{
		.entry-title{
			font-weight: 400;
		} 
	}
	 
	&.layout1{
		.red-footer-top-wrap{
			background-color: #111111;
			padding-top: 120px;
			padding-bottom: 13px;
			@media screen and (max-width: 767px){
				padding-top: 80px;
			}
		}
		@media screen and (min-width: 768px){
			.widget{
				margin-bottom: 16px;
				&:last-child{
					margin-bottom: 5px;
				}
			}
		}
		.wg-title{
			color: #fff;
		}
		.footer-logo{
			display: inline-block;
			margin-bottom: 52px;
		}
		p{
			font-size: 15px;
			color: #fff;
			line-height: 28px;
			letter-spacing: -0.02em;
			font-weight: 400;
			margin: 0;
		}
		ul{
			margin: 0;
		}

		.column-1{
		    padding-top: 7px;
			@media screen and (min-width: 768px){
				text-align: right;
				.widget:first-child{
					margin-bottom: 46px;
				}
			}
			@media screen and (min-width: 992px){
				padding-right: 50px;
			}
		}
		.column-2{
		    padding-top: 7px;
			@media screen and (min-width: 992px){
				padding-left: 50px;
			}
			@media screen and (min-width: 768px){
				&:before{
					content: "";
					background-color: #303030;
					width: 1px;
					height: 100%;
					position: absolute;
					left: -1px;
					top: 0;
					bottom: 0;
				}
			}
		}
		.footer-contact-info{
			li{
				margin-bottom: 17px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.red-social{
			margin-top: 13px;
		}
		@media screen and (max-width: 767px){
			.widget{
				margin-bottom: 30px;
				text-align: center;
			}
		}
		.red-recent-post{
			.entry-title{
				color: #dcdcdc;
			}
			.entry-meta li a:hover{
				color: #dcdcdc;
				border-bottom-color: #dcdcdc;
			}
		} 
	}
	&.layout2{
		color: #dcdcdc;
		.red-footer-top-wrap{
			background-color: #111111;
			padding-top: 130px;
			padding-bottom: 90px;
			@media screen and (max-width: 1199px){
				padding-top: 80px;
				padding-bottom: 50px;
			}
		}
		.footer-top-wg{
			margin-bottom: 28px;
		}
		.wg-title{
			color: #fff;
		}
		.footer-logo{
			display: block;
			margin-top: -15px;
			margin-bottom: 28px;
			padding-right: 70px;
			@media (min-width: 992px) and (max-width: 1199px){
				padding-right: 40px;
			}
		}
		p{
			font-size: 15px;
			line-height: 24px;
			letter-spacing: -0.02em;
			font-weight: 400;
			margin: 0;
		}
		.red-recent-post{
			.entry-title{
				color: #dcdcdc;
			}
			.entry-meta li a:hover{
				color: #dcdcdc;
				border-bottom-color: #dcdcdc;
			}
		} 
	}
	&.layout3{
		.red-footer-top-wrap{
			background-color: #fcfcfc;
			padding-top: 30px;
			padding-bottom: 90px;
			@media screen and (max-width: 991px){
				padding-bottom: 60px;
			}
		}
		.footer-top-wg{
			margin-bottom: 24px;
		}
		.footer-contact-info{
			li{
				color: #666666;
				a{
					color: inherit;
					&:hover{
						color: $link_color_hover;
					}
				}
			}
		}
		.red-social a{
			background-color: rgba(0,0,0,0.05);
			color: #555;
		}
		.footer-logo{
			display: block;
			margin-bottom: 10px;
			padding-right: 70px;
			@media (min-width: 992px) and (max-width: 1199px){
				padding-right: 40px;
			}
		}
	}
}
.red-footer-bottom{
	font-size: 14px;
	font-family: $extra_font;
	letter-spacing: -0.03em;
	.wg-title{
		display: none;
	}
	a{
		color: $link_color_hover;
		&:hover{
			color: #fff;
		}
	}
	ul{
	    padding-left: 0;
	    list-style: none;
	    li{
	        display: inline-block;
	        position: relative;
	        padding: 0 16px;
	        +li:before{
	        	content: "";
	        	position: absolute;
	        	left: -1px;
	        	top: 50%;
	        	margin-top: -5px;
	        	background-color: #bdbdbd;
	        	width: 1px;
	        	height: 11px;
	        }
	        &:first-child{
	        	padding-left: 0;
	        }
	        &:last-child{
	        	padding-right: 0;
	        }
	        a{
	        	font-family: $body_font_family;
	        	letter-spacing: 0.01em;
	        	font-size: 14px;
	        	color: #bdbdbd;
	        	&:hover{
	        		color: $link_color_hover;
	        	}
	        }
	    }
	}
	&.layout1{
		color: #fff;
		.red-footer-bottom-wrap{
			background-color: #111111;
			padding-top: 38px;
			padding-bottom: 113px;
			@media screen and (max-width: 767px){
				padding-bottom: 80px;
			}
		}
	}
	&.layout2{
		color: #fff;
		.red-footer-bottom-wrap{
			background-color: #000000;
			padding-top: 38px;
			padding-bottom: 38px;
		}
	}
	&.layout3{
		color: #333;
		a{
			color: $link_color_hover;
			&:hover{
				color: $link_color;
			}
		}
		.red-footer-bottom-wrap{
			background-color: #ffffff;
			padding-top: 38px;
			padding-bottom: 38px;
		}
		ul{
			li{
				+li:before{
					background-color: #888888;
				}
				a{
		        	color: #888888;
		        	&:hover{
		        		color: $link_color_hover;
		        	}
		        }
			}
		}
	}
}

.red-client-logo{
	margin-top: 100px;
	@media (max-width: $screen_md_max){
		margin-top: 75px;
	}
	.red-carousel-item{
		img{
			width: auto !important;
			vertical-align: middle;
		}
	}
	&.layout1{
    	position: relative;
		@media screen and (min-width: 768px){
			margin-bottom: -110px;
		}
		@media screen and (max-width: 767px){
			background-color: $client_logo_bg;
		}
		@media screen and (max-width: 991px){
			.container{
				max-width: 100%;
			}
		}
		.client-logo-outer{
			padding-top: 54px;
			padding-bottom: 54px;
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 3px;
			@media screen and (min-width: 768px){
				background-color: $client_logo_bg;
			}
			@media screen and (min-width: 1366px){
				padding-left: 100px;
				padding-right: 100px;
			}
			@media screen and (max-width: 767px){
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
	}
	&.layout2{
    	position: relative;
		background-color: $client_logo_bg;
		@media screen and (max-width: 991px){
			.container{
				max-width: 100%;
			}
		}
		.client-logo-outer{
			padding-top: 54px;
			padding-bottom: 54px;
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 3px;
			@media screen and (min-width: 1366px){
				padding-left: 100px;
				padding-right: 100px;
			}
			@media screen and (max-width: 767px){
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
	}
	&.layout3{
    	position: relative;
    	background-color: #fcfcfc;
		@media screen and (max-width: 991px){
			.container{
				max-width: 100%;
			}
		}
		.client-logo-outer{
			padding-top: 28px;
			padding-bottom: 28px;
			padding-left: 15px;
			padding-right: 15px;
			@media screen and (min-width: 1366px){
				padding-left: 70px;
				padding-right: 70px;
			}
		}
	}
}  
.red-client-logo.layout1 + .red-footer{
	@media screen and (min-width: 992px){
		.red-footer-top.layout1 .red-footer-top-wrap{
			padding-top: 230px;
		}
		.red-footer-top.layout2 .red-footer-top-wrap{
			padding-top: 240px;
		}
		.red-footer-top.layout3 .red-footer-top-wrap{
			padding-top: 140px;
		}
	}
	@media (min-width: 768px) and (max-width: 991px){
		.red-footer-top.layout1 .red-footer-top-wrap{
			padding-top: 180px;
		}
		.red-footer-top.layout2 .red-footer-top-wrap{
			padding-top: 190px;
		}
		.red-footer-top.layout3 .red-footer-top-wrap{
			padding-top: 90px;
		}
	}
} 
