.ef4-gtb-block{
	max-width: 610px;
	margin-right: auto;
	margin-left: auto;
	// Alignment 
	&.align-wide {
	    max-width: 1100px;
	}
	&.align-full {
	    margin-left: calc( -100vw / 2 + 100% / 2 );
	    margin-right: calc( -100vw / 2 + 100% / 2 );
	    max-width: 100vw;
	}
	&.align-full img {
	    width: 100vw;
	}
	.alignleft{
		float: left;
		margin: 0 30px 30px 0;
		[dir="rtl"] &{
			float: right;
			margin: 0 0 30px 30px;
		}
	}
	.alignright{
		float: right;
		margin: 0 0 30px 30px;
		[dir="rtl"] &{
			float: left;
			margin: 0 30px 30px 0;
		}
	}
	// Separator
	&.ef4-block-separator{
		display: block;
		clear: both;
	}
	// quote
	.blockquote,
	blockquote{
		&:before{
			display: none;
		}
		margin-top: 0;
		padding: 0;
	}
	// paragraph
	&.wp-block-paragraph{
		p{
			margin-bottom: 30px;
		}
	}
	// Widget
	&.wp-block-latest-posts,
	&.wp-block-categories,
	&.wp-block-archives,
	&.ef4-block-pullquote{
		margin-bottom: 30px;
	}
}
.alignwide {
    max-width: 1100px;
}
ul.wp-block-gallery{
	padding-left: 0;
	padding-right: 0;
}
.wp-block-heading > *{
	margin-bottom: 30px;
}
.wp-block-column .ef4-gtb-block{
	max-width: 100%;
}