#profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2e55fa;
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  float: left;
  line-height: 35px;
}
/*.error {
  color: #ff0000;
}*/
input.error, select.error {
border: 1px solid #ff0000;
}   
select, select.error {margin: 0 10px 10px 0 !important;}
.error {display: inline-block; vertical-align: top;color: #ff0000;}