@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(http://fonts.gstatic.com/s/muli/v7/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body
{
	 margin:0;
	 padding:0;
	 font-size:15px;
	font-family: 'Muli' !important;
	 
}

p{ text-align:justify;
}

a{ text-decoration:none;
}

.nav-height
{
	padding-top:5px;
	border-radius:0px;
	margin-bottom:0px;
	background-color:#ffffff;
}
/*
.nav-bottom
{
	 position:absolute;
	 bottom:0px;
}*/
/*.custom-padding li a
{
	padding:15px 20px;
}*/

.nav-nav{
	/*background-color: rgba(0, 0, 0, 0.6);*/
	max-width: 589px;
}

#grad {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e7e7+22,ea700d+36,ea700d+65,ea700d+79,e7e7e7+100 */
/*background: #e7e7e7;*/ /* Old browsers */
/*background: -moz-linear-gradient(left,  #e7e7e7 22%, #ea700d 36%, #ea700d 65%, #ea700d 79%, #e7e7e7 100%);*/ /* FF3.6-15 */
/*background: -webkit-linear-gradient(left,  #e7e7e7 22%,#ea700d 36%,#ea700d 65%,#ea700d 79%,#e7e7e7 100%);*/ /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to right,  #e7e7e7 22%,#ea700d 36%,#ea700d 65%,#ea700d 79%,#e7e7e7 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#e7e7e7',GradientType=1 );*/ /* IE6-9 */


/*background-color: rgba(0, 0, 0, 0.6);*/



}

.introduction p{
	color: #fff;
	font-size: 20px;
	text-align:justify;
	line-height:25px;
	padding:30px 40px;
}
.introduction h1
{
	 font-size:24px;
}
.readbtn
{
	background-color:#eeeeee;
	color:#1d75fd;
	text-transform:uppercase;
	border:none !important;
	border-radius:0px !important;
}

.video h4
{
	 background-color:#eeeeee;
	 color:#000000;
	 text-align:center;
	 padding:6px 0px;
	 margin-bottom:0px;
}

.mt10
{margin:20px 0px;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:left;
cursor:default;
margin-bottom:5px;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
padding:15px;
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:capitalize;
color:#fff;
text-align:left;
position:relative;
font-size:17px;
/*background:rgba(0,0,0,0.6);*/
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;

}

.hovereffect 
{
	color:#ffffff;
}

.hovereffect a.info {
text-decoration:underline;
display:inline-block;

color:#fff;

background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:5px 0px;

}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.testimonial, .news
{
	background-color:#eeeeee;
	padding:6px;
}

.testimonial a,.news a
{
	text-align:right;
	color:#1d75fd;
	text-decoration:underline;
	padding:9px;
}

.testimonial p
{/*background-color: #ffffff;*/
    
    margin: 5px 8px;
    padding: 5px 20px 20px 15px;
}

.news p
{
	/*text-decoration:underline;*/
	/*background-color: #ffffff;*/
    
    margin: 5px 8px;
    padding: 5px 20px 20px 15px;
	/*font-weight:600;*/
}

.list-inline li
{/*border-right:1px solid #000000;*/
	padding-right: 15px;
}
.list-inline li:last-child
{border-right:none;
}

.list-inline li a
{
	color:#fff;
	text-decoration:none;
	
}

footer
{
	background-color:#eeeeee;
	padding:15px 0px 0px 0px;
}
.social-icon
{
	margin:5px;
}
.social-icon li
{ border-right:none;
padding:0px;
}

.fade-carousel {
    position: relative;
    height: 70vh;
}
.fade-carousel .carousel-inner .item {
    height: 70vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
			  width:310px !important;
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    /*background-color: #080d15;*/
    opacity: .2;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
/*.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height:70vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image:url(../images/1.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/1.jpg);
}*/

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

.hero h5{
    background-color: #0A0A0A;
    opacity: 0.8;
    color: #fff;
    text-transform: capitalize;
    padding: 20px;
    line-height: 28px;
    font-size:20px;
}

.btn1
{
 background-color:#d2f3fa;
 
}

.btn1 a,.btn2 a,.btn3 a,.btn4 a
{
	color:#000000;
}

.btn2
{ background-color:#eedfb4;
 
}

.btnfont
{
	color:#000000;
 font-weight:600;
 padding:10px;
 text-align:center;
}
.btn3
{ background-color:#f5c6a8;
 
}

.btn4
{ background-color:#cce5bd;
 
}
.padding0
{
	padding:0px;
}

.content
{
	margin:0px 0px;
}
.navbar-brand
{
	position: absolute;
    top: -40px;
    height: auto !important;
    padding: 0px;
	left:0%;
}

.dropdown-menu
{
background-color:beige;
padding:0px;
}

.dropdown-menu li
{
	border-bottom:1px solid #AFAEAE;
}

.dropdown-menu li:last-child
{
	border-bottom:2px solid #AFAEAE;
}

.dropdown-menu li:hover a
{
	background-color: transparent;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover
{
	
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
	padding: 10px 15px;
}

.navbar-default .navbar-nav>li>a:hover
{
	color:#fff;
	background-color: #d03d53;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{	background-color:#dc3a14 !important;
color:#fff !important;
}

.navbar
{
	border-bottom:none !important;
}
.form-group
{
	margin-bottom:0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
 
 .banner
 {
	 background-image:url(../images/banner.jpg);
	 background-size:cover;
	 background-repeat:no-repeat;
	 height:260px;
	 margin-bottom:20px;
 }
 
 .asidemenu
 {
	 background-color:#e7e7e7;
	 padding:8px 0px;
	 
 }

.asidemenu li
{margin:0px 10px;
}


.asidemenu li a
{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
	padding:10px 25px;
	
	display:block;
	
}

.asidemenu li:hover a,
{
	background-color:#fff;
	display:block;
	color:#f59e11;

	
}

.inforation h3
{
	    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ccc;
}

.active_sidemenu{
	background-color:#fff;
	color:#f59e11 !important;
}
figcaption
{
	color:#000;
}

figure
{
	margin-bottom:5px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	color:#ffffff;
	background-color:#dc3a14;
}

.service_detail h3
{
	/*margin-top:0px;
	margin-bottom:5px;*/
	/*border-bottom:3px solid #cccccc;*/
	/*padding:10px 0px;*/
}


.line_broad
{
	border-bottom:3px solid #ccc;
	margin:0px;
}
.book_btn
{
	text-transform:uppercase;
	padding:5px 17px;
	background-color:#70b769;
	color:#ffffff;
	cursor:pointer;
}
.timing
{
	text-align:right;
	margin-top:8px;
	position:relative;
	
}

.timing a
{
	border: 1px solid #fede8b;
    border-radius: 16px;
    background-color: #fdf6c8;
    color: #000000;
    padding: 5px 15px;
    text-decoration: none;
	
    
   
}

.timing a:focus
{ color:#000
}
.timing  span
{
	margin-top: 7px;
    position: absolute;
    right: 10px;
   
    
}

.pd0
{
	padding:0px;
}
.questions
{
	border-bottom:1px solid #ccc;
	padding:10px 0px;
}

.questions h4
{
	font-weight:bold;
}

.headlines a
{
	color:#0066cb;
	font-weight:bold;
}
.gray
{
	padding:4px 10px;
	border-radius:0px;
	background-color:#eeeeee;
	margin-left:10px;
}

.info h3
{
	margin:10px 0px;
}

.gallery_btn1
{
	border:1px solid #ccc;
	padding:5px 35px;
	text-align:center;
	color:#000000;
	font-weight:bold;
	background-color: #f8f8f8;
	
}

#grad1 {
    background: #ccc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ccc); /* Standard syntax */
}

.media_details
{margin-top:20px;
}

.pdleft{padding-left:0px;
}

.pdright
{
	padding-right:0px;
}

.news_desc 
{
	display:inline-block;
}


.border
{
	border:1px solid #ccc;
}

.career_form
{
	 border:1px solid #ccc;
	 background-color:#f5f5f5;
	 padding:40px;
	 height:490px;
	 margin-top:20px;
	 margin-bottom:30px;
	 height:auto;
	 overflow:auto;
}

.career_form h4
{
	 margin-bottom:30px;
}

.browsebtn
{ background-color: #dadada;
    border: 1px solid #9cacce;
    padding: 4px 25px;
    position: absolute;
    top: 6px;
    right: 23px;
}

.input1
{
	padding: 20px 10px;
    border: 1px solid #9cacce;
    background-color: #fff !important;
}

a:hover
{
	/*color:#fff !important;*/
	text-decoration:none;
}

.content-main
{
	margin-top:15px;
}

.content-main h5
{
	margin:3px;
}
.date
{
color:#d89350;
font-weight:bold;
}

.testimonials
{
	border-bottom: 2px solid #ccc;
    padding: 20px 0px;
}

.border-none
{
	border:none;
}

.logoimg
{
	    width: 18.1%;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 15px;
    padding-left: 0px;
    margin-right: 14px;
}

.logo
{
	padding:5px 0px;
}

ul
{
	/*padding:0px;*/
}

.academics
{padding:20px 0px;
border-bottom:2px solid #ccc;
	
}

.mrtop10
{
	margin-top:10px;
}

#html_btn {
 display:none;
}

.new_Btn
{
	position: absolute;
    right: 20px;
    border: 1px solid #9cacce;
    padding: 5px 20px;
    top: 5px;
    background-color: #dadada;
}
.pdf_download
{
	background-color:#ccc;
	height:200px;
	width:300px;
	margin-right:15px;
	text-align:center;
	padding:35px;
	
}

.pdf
{
	background-color:#ffffff;
	width:70px;
	height:70px;
	border-radius:35px;
	 border: 1px solid #9cacce;
	 
}

.pdf_download .glyphicon-paperclip:before
{
	    margin: 18px -16px;
    font-size: 34px;
	position:absolute;
	
}

.pdf_btn
{
	border: 1px solid #9cacce;
    background-color: #70b769;
    padding: 10px 20px;
    border-radius: 33px;
    text-align: center;
    display: block;
	color:#ffffff;
	text-decoration:none;
	width:220px;
}

.search_btn
{background-color:#c5c5c5;
padding:10px 15px;
}
.gallery
{
	margin:20px 0px;
}

.gallery a
{
	display:block;
	text-align:center;
	width:20%;
	float:left;
	margin-bottom:20px;
	
}

.gallery a span
{
	text-transform:uppercase;
	padding-top:2px;
	color:#000000;
	line-height:32px;
	
}

.timing a:hover
{
	color:#000 !important;
}

.asidemenu li:hover a
{
	color:#f59e11 !important ;
}
.headlines a:hover{
color:#0066cb !important;
}

.gallery_btn1:hover
{
	color:#000000 !important;
}

.address_info p
{
	text-align:center;
	margin-bottom:20px;
}
.address_info
{
	padding:10px 0px;
}
.map
{
	margin-bottom:20px;
}

.services
{
	padding: 10px 0px;
    /*border-bottom: 2px solid #ccc;*/
    overflow: hidden;
}
.complete{
    display:none;
}

.service_img
{
	margin-right:15px;
	margin-bottom:4px;
}

.more{
text-decoration:underline !important;
}
.more:hover
{
	color:#337ab7 !important;
	text-decoration:underline !important;
}
@media screen and (max-width: 479px){
	
	.pdleft{padding-left:15px;
}

.pdright
{
	padding-right:15px;
}
	
	.media-body
	{
		display:inline;
	}
.navbar-brand
{top:-20px;
}
.navbar-brand img
{
	height:70px;
	/*width:70px;*/
	width: 150px;
}
.hero
{left:50%;
}

.hovereffect .overlay
{
	padding:3px 15px;
}
#grad
{
	background:none;
}

.navbar-default .navbar-collapse
{
	/*background-color:#e98432;*/
}

.navbar-nav .open .dropdown-menu
{
	background-color:#848484 !important;
	opacity:0.9;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a
{
	color:#ffffff;
}

.navbar-toggle, .navbar-toggle:hover
{
background-color:#e30707;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand
{
	left:15px;
}

.fade-carousel
{
	height:50vh;
}

.fade-carousel .carousel-inner .item
{
	height:50vh;
}

.banner
{
	display:none;
}
.inforation h2
{
	font-size:26px;
}

.gallery a
{
	width:100%;
}

.career_form
{
	padding:10px;
}

.timing 
{
	float:left !important;
	margin-top:20px;
}

.logoimg
{
	width:43%;
}
 .radio-inline+.radio-inline
 {
	 margin-left:0px;
 }
 
 #imageDataContainer,#outerImageContainer
 {
	 width:100% !important;
 }

.book_btn
{
	padding:5px 6px;
}
.modal-body
{
	padding:0px;
}
}
@media screen and (min-width: 480px) and (max-width: 767px)
{
	.navbar-brand img
{
	height:70px;
	width:150px;
}
	
	
	#grad
{
	background:none;
}

.navbar-default .navbar-collapse
{
	/*background-color:#e98432;*/
}

.navbar-nav .open .dropdown-menu
{
	background-color:#848484 !important;
	opacity:0.9;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a
{
	color:#ffffff;
}

.navbar-toggle, .navbar-toggle:hover
{
background-color:#e30707;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand
{
	left:15px;
	top:-19px;
}
.banner
{
	background-size:contain;
	height:130px;
}

.gallery a
{
	width:50%;
}
.logoimg
{
	width:30%;
}
}

@media screen and (min-width: 768px) and (max-width: 980px)
{
	.navbar-brand
	{
		top:-60px;
	}
	
	.navbar-default .navbar-nav>li>a
	{
		padding:10px;
	}
	
	/*.navbar-nav>li
	{
		margin-left:5px;
	}*/
}

.logo_text
{
	    float: left;
    position: absolute;
        left: 27%;
    top: -20px;
	font-family:Arial, Helvetica, sans-serif;
}

.services h4, .logo h4
{
	margin:10px 0px;
	font-weight:bold;
}

.speciality
{
	    margin-top: 10px;
    text-align: right;
}

.img_modal
{
	float:left;
	margin-right:15px;
	width:200px;
}

.controls a
{
	width:30px;
	margin-right:5px;
	padding:5px;
	color:#000;
}

.name1
{
	font-size:24px;
	
	font-weight:bold;
	display:block;
}
.navbar-header span
{
	line-height:24px;
}

.controls a:hover
{
	color:#000000 !important;
}

footer ul li a:hover
{
	color:#AED32B  !important;
	
}

.controls .left
{
	position: absolute;
    left: -13px;
    top: 60px;
}

.controls .right
{
	position: absolute;
    right: -13px;
    top: 60px;
}

.navbar-brand-right
{
	    position: absolute;
    top: -40px;
    height: auto !important;
    padding: 0px;
    left: 23%;
}

.logo_text_right
{
	right: 20px;
    position: absolute;
    top: -20px;
	font-family: Arial, Helvetica, sans-serif;
}

.language {
    position: absolute;
    top: -4px;
    right: 18%;
    padding: 20px;
}

footer .list-inline li, footer p
{
	font-size:14px;
}
.headernew{
	width: 222px;
/* margin-left: 72px;*/
    /*margin-bottom: 15px;
    margin-top: 15px;*/
}
.headGrad{
	background: rgba(107,102,102,1);
background: -moz-linear-gradient(top, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(107,102,102,1)), color-stop(100%, rgba(5,4,4,1)));
background: -webkit-linear-gradient(top, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
background: -o-linear-gradient(top, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
background: -ms-linear-gradient(top, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
background: linear-gradient(to bottom, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6666', endColorstr='#050404', GradientType=0 );
}
.introGrad{
background: rgba(83,86,90,1);
background: -moz-linear-gradient(top, rgba(83,86,90,1) 0%, rgba(163,160,163,1) 53%, rgba(56,56,56,1) 98%, rgba(56,56,56,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(83,86,90,1)), color-stop(53%, rgba(163,160,163,1)), color-stop(98%, rgba(56,56,56,1)), color-stop(100%, rgba(56,56,56,1)));
background: -webkit-linear-gradient(top, rgba(83,86,90,1) 0%, rgba(163,160,163,1) 53%, rgba(56,56,56,1) 98%, rgba(56,56,56,1) 100%);
background: -o-linear-gradient(top, rgba(83,86,90,1) 0%, rgba(163,160,163,1) 53%, rgba(56,56,56,1) 98%, rgba(56,56,56,1) 100%);
background: -ms-linear-gradient(top, rgba(83,86,90,1) 0%, rgba(163,160,163,1) 53%, rgba(56,56,56,1) 98%, rgba(56,56,56,1) 100%);
background: linear-gradient(to bottom, rgba(83,86,90,1) 0%, rgba(163,160,163,1) 53%, rgba(56,56,56,1) 98%, rgba(56,56,56,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53565a', endColorstr='#383838', GradientType=0 );
color: #fff;
}

.borderintro{
border-radius: 58px 58px 58px 58px;
-moz-border-radius: 58px 58px 58px 58px;
-webkit-border-radius: 58px 58px 58px 58px;
border: 0px solid #000000;
}
.borderintroright
{
border-radius: 58px 58px 58px 58px;
-moz-border-radius: 58px 58px 58px 58px;
-webkit-border-radius: 58px 58px 58px 58px;
border: 0px solid #000000;
}
.introTxt{
margin-top: 20px;
/*font-family: ABeeZee;*/
color: #fff;
font-weight: bold;
font-size: 60px;
/*background-color: rgb(83, 86, 90);*/
/*text-shadow: rgb(26, 25, 25) 4px 4px 4px;*/
}
.introTxt1{
/*font-family: ABeeZee;*/
color: #E40605;
font-size: 26px;
}
.introTxt2{
/*font-family: ABeeZee;*/
color: #E40605;
font-size: 26px;
}
/*.three-boxesmargin{
margin-left: 95px;
}*/
.h3imgtxt{
font-family: ABeeZee;
font-size: 34px;
 font-weight: 500;
 padding: 0px 0 5px;
}
.homeimg{
	height:224px;
}
.testnewsgrad
{
background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 48%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(48%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 48%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 48%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 48%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 48%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}
.newbtn{
	color: #fff;
    padding: 6px 38px;
    border-radius: 16px;
    font-size: 28px;
    background-color:#aed32b;
    
}
.fontBanner{
/*	font-family: ABeeZee;
	color: #000000;
	font-size: 20px;
	padding: 10;*/
}
.footerGrad{
/*background: rgba(107,102,102,1);
background: -moz-linear-gradient(top, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(107,102,102,1)), color-stop(100%, rgba(5,4,4,1)));
background: -webkit-linear-gradient(top, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
background: -o-linear-gradient(top, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
background: -ms-linear-gradient(top, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);*/
background: linear-gradient(to bottom, rgba(107,102,102,1) 0%, rgba(5,4,4,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6666', endColorstr='#050404', GradientType=0 );*/
color: #fff;
}

/*slider */
        
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;

        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        /*slider ends*/
        .boxIntro{
        /*border-radius: 10px 0px 200px 200px;
-moz-border-radius: 10px 0px 200px 200px;
-webkit-border-radius: 10px 0px 200px 200px;
border: 0px solid #000000;*/
background-color: #0c8799;
color: #fff;

}
.newintroGrad{
	
  font-size: 45px;
  /*background: -webkit-linear-gradient(#00040a,#3a3c3e, #202224);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 10px;

}
.headerbtn{
/*	background-color:#0C8799; */
        background-color: #d03d53;
        color:#fff;
        padding:9px;
	border-radius: 15px;
        font-size: 17px;
        font-weight: bolder;
	}
.headerbtn:hover{
        color: #fff;
        background-color: #0C8799;

}
.headbtnalign{
		float:right; margin-top:41px;
		margin-left: -18px;
	}
.headingNewServices{
color:#007FA6;
/*font-weight:bold;*/
font-size: 26px;
padding: 5px;
}

/*.headingNew1:hover{
	background: rgba(171,208,51,1);
background: -moz-linear-gradient(top, rgba(171,208,51,1) 0%, rgba(190,230,145,1) 54%, rgba(171,208,51,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(171,208,51,1)), color-stop(54%, rgba(190,230,145,1)), color-stop(100%, rgba(171,208,51,1)));
background: -webkit-linear-gradient(top, rgba(171,208,51,1) 0%, rgba(190,230,145,1) 54%, rgba(171,208,51,1) 100%);
background: -o-linear-gradient(top, rgba(171,208,51,1) 0%, rgba(190,230,145,1) 54%, rgba(171,208,51,1) 100%);
background: -ms-linear-gradient(top, rgba(171,208,51,1) 0%, rgba(190,230,145,1) 54%, rgba(171,208,51,1) 100%);
background: linear-gradient(to bottom, rgba(171,208,51,1) 0%, rgba(190,230,145,1) 54%, rgba(171,208,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abd033', endColorstr='#abd033', GradientType=0 );
}*/
.memberIcon{
background-image: url(themes/frontend/images/1.png);
	
}
.bggradRegister{
	background: rgba(179,220,237,1);
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
}
.signupForm{
	background-color:#fff;
	margin-top:10px;
	margin-bottom:10px;
}
.signinForm{
	
	margin-top:10px;
	margin-bottom:10px;
}
.signupleftimg{
	margin-left:3px; 
	margin-top:0px
}
.signuprightimg{
	margin-top:78px; 
	margin-left:-17px
}
.signinbtn{
	background-color:#0C8799; color:#fff;
	padding:9px 62px;
	
	}
.faqstyle{
	font-size:15px;
	background-color: #007FA6;
	font-size: 15px; 
	padding: 9px;
	color: #fff;
}
.signinheading{
/*	color: #de0707;*/
        color: #d03d53;
	font-weight: bold;
	font-size: 26px;
	
}
.modal-content {
    position: relative;
    background-color: #d6fec2;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
/*log in popup*/

.user-box{
	float:left;
	width:100%;
	background-color:#fff;
	padding:30px 45px 30px 45px;
	text-align:center;
}
.user-box h2{
	font-size:22px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0px 0px 30px 0px;
}
.user-box form{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.user-box .form{
	float:left;
	width:100%;
}
.input-container{
	float:left;
	width:100%;
	position:relative;
	margin:0px 0px 20px 0px;
}
.form .input-container:last-child{
	margin-bottom: 0;
}
.input-container i{
	position:absolute;
	width:16px;
	height:18px;
	left:9px;
	top:16px;
	background-repeat:no-repeat;
	background-position:bottom;
	color:#a8b6c3;
	z-index:250;
}
.input-container i.name{
	background-image:url(../images/signin.html);
}
.input-container i.pass{
	background-image:url(../images/register.html);
}
.input-container i.company{
	background-image:url(../images/company.html);
}
.input-container i.mail{
	background-image:url(../images/e-mail.html);
	height:12px;
	top:18px;
}
.input-container i.location{
	background-image:url(../images/location.html);
}
.input-container i.destination{
	background-image:url(../images/destination.html);
}

.input-container input[type="text"], .input-container input[type="password"]{
	padding:6px 20px 6px 40px;
	font-size:15px;
	color:#66727f;
	background-color:#f9f9f9;
	box-shadow:0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	-moz-box-shadow:0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	-webkit-box-shadow:0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	height: 41px;
	width: 100%;
	border-radius: 3px;
	border: 2px solid #d6d9dd; 
}



.input-container  textarea{
	padding:6px 20px 6px 40px;
	font-size:15px;
	color:#66727f;
	background-color:#f9f9f9;
	box-shadow:0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	-moz-box-shadow:0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	-webkit-box-shadow:0px 3px 3px 0px rgba(0,0,0,0.05) inset;
	height: 125px;
	width: 100%;
	border-radius: 3px;
	border: 2px solid #d6d9dd; 
}




.drop-space-images {
    background: #eaebec;
    height: 246px;
    resize: none;
    color: #808184;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}




.submit-btn {
 
	background: #A7FFEF; 
    width: 33.3%;
    font-size: 16px;
    color: #0F7575;
    border: none;
    padding: 12px 20px;
    border-radius: 3px;
    text-align: center;
    height: 48px;
    line-height: normal;
    text-transform: uppercase;
	
}

.drop-space-images .upload-icon {
    position: absolute;
    top: 40px;
    left: calc(50% - 28px);
}


.drop-space-images label {
    width: 195px;
    height: 38px;
    background-color: #808184;
    color: white;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    top: 115px;
    left: calc(50% - 97.5px);
    cursor: pointer;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}



.user-box .input-container .radio-value{
	height:20px;
	width:20px;
	float:left;
	background-size:10px auto;
	margin:0px 10px 0px 0px;
}
/*.input-container span {
    float: right;
    font-size: 22px;
    position: absolute;
    right: 15px;
    top: 12px;
	color:#c4cdd6;
}*/
.input-container span.add-on{
	position:absolute;
	left:15px;
	top:13px;
	height:100%;
	color:#c4cdd6;
}
.user-box .input-container .radio{
	float:left;
}
.user-box .input-container label{
	float:left;
	width:100%;
	font-size:12px;
	color:#9baab9;
	text-align:left;
}
.user-box .input-container label p{
	float:left;
	margin:2px 0px;
	font-weight:normal;
	line-height: normal;
}
.user-box .input-container .radio, .user-box .input-container .checkbox{
	margin:0px;
}

.btn-style{
	float:left;
	width:33.3%;
	font-size:16px;
	color:#19101D;
	border:none;
	padding:12px 20px;
	border-radius:3px;
	text-align:center;
	height:48px;
	line-height: normal;
	text-transform: uppercase;
}
.btn-style:hover{
	background-color:#000;
	color: #fff;
}
.user-box .option{
	float:left;
	width:100%;
	position:relative;
	margin:0px 0px 15px 0px;
}
.user-box .option:before, .user-box .option:after{
	position:absolute;
	content:"";
	height:1px;
	width:38%;
	background-color:#999;
	left:0px;
	top:50%;
}
.user-box .option:after{
	left:auto;
	right:0px;
}
.user-box .option h5{
	font-size:14px;
	color:#999;
}
.user-box .social-login{
	float:left;
	width:100%;
}
.user-box .social-login a{
	float:left;
	width:50%;
	padding:12px 15px;
	font-size:14px;
	color:#fff;
	border:none;
	font-weight:normal;
	text-align:left;
	margin:0px;
	line-height: normal;
}
.user-box .social-login a i{
	font-size:18px;
	margin:0px 10px 0px 0px;
	float: left;
}
.user-box .social-login a.google{
	background-color:#dc4a38;
	border-radius:3px 0px 0 3px;
}
.user-box .social-login a.facebook{
	background-color:#44619d;
	border-radius:0px 3px 3px 0px;
}
.user-box-footer{
	float:left;
	width:100%;
	background-color:#d6fec2;
	border-top:solid 1px #ecf1f5;
	padding:18px 20px;
	text-align:center;
}
.user-box-footer > p{
	width:100%;
	float:left;
	text-align:center;
}

#register .nav-tabs{
	border:none;
	margin-top:50px;
}
#register .nav-tabs > li{
	width:50%;
	border:none;
}
#register .nav-tabs > li a{
	border-radius:0px;
	text-align:center;
	font-size:18px;
	color:#a5afb9;
	font-weight:bold;
	padding:18px 15px;
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
	border:none;
	background-color:#f7f7f7;
}
#register .nav-tabs > li.active a, #register .nav-tabs > li a:hover{
	background:none;
}
.input-container .dropdown{
	float:left;
	width:100%;
}
.input-container .dropdown button{
	float:left;
	width:100%;
	border: 2px solid #d6d9dd;
    border-radius: 3px;
    min-height: 48px;
    padding: 6px 20px 6px 32px;
    width: 100%;
	color:#c4cdd6;
	text-align:left;
	font-family:15px;
	
}
.input-container .dropdown button p{
	float:left;
	margin:0px;
}
.input-container .dropdown button span{
	float:right;
	font-size:22px;
}
.input-container .dropdown button p{
	margin:0px;
}
.input-container .btn-default:hover, .input-container .btn-default:focus, .input-container .btn-default.focus, .input-container .btn-default:active, .input-container .btn-default.active, .input-container .open > .dropdown-toggle.btn-default{
	background:none;
	border: 2px solid #d6d9dd;
	color:#687a8d;
}

.input-container .dropdown .dropdown-menu{
	min-width:100%;
}

.filterable-item.col-md-3{
	width: 24.9% !important

}
/*
=================================================
		CHECKBOX AND RADIO BUTTON CSS
=================================================
*/
label {
  cursor: pointer;
}
label span{
	float: left;
	line-height: 20px;
}

/* hide the "real" radios visually */

.radio input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon5ee0.eot?hs40vy');
    src:    url('fonts/icomoon5ee0.eot?hs40vy#iefix') format('embedded-opentype'),
        url('fonts/icomoon5ee0.ttf?hs40vy') format('truetype'),
        url('fonts/icomoon5ee0.woff?hs40vy') format('woff'),
        url('fonts/icomoon5ee0.svg?hs40vy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-black:before {
    content: "\e900";
}
.icon-drink:before {
    content: "\e901";
}
.icon-food:before {
    content: "\e902";
}
.icon-gym:before {
    content: "\e903";
}
.icon-hotel:before {
    content: "\e904";
}
.icon-interface:before {
    content: "\e905";
}
.icon-location:before {
    content: "\e906";
}
.icon-monuments:before {
    content: "\e907";
}
.icon-musical:before {
    content: "\e908";
}
.icon-note:before {
    content: "\e909";
}
.icon-placeholder:before {
    content: "\e90a";
}
.icon-shape:before {
    content: "\e90b";
}
.icon-shapes:before {
    content: "\e90c";
}
.icon-technology:before {
    content: "\e90d";
}
.icon-telephone:before {
    content: "\e90e";
}
.icon-tool:before {
    content: "\e90f";
}
.icon-transport:before {
    content: "\e910";
}

.btn-social-icon {margin-bottom: 4px; }
.social-class .social-hex{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:10px;opacity:.3;float:right; }
.social-class li{margin-bottom:4px}.social-class li:hover .social-hex{opacity:1}
.social-class li:hover code{background-color:#e8e8ee}
.social-class code{cursor:default}


.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2) ; padding:12px;}
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}



.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2); padding:12px;} .btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}



.signup-or-separator {
    background: none;
    height: 50px;
    position: relative;
    text-align: center;
}

.signup-or-separator--text {
    background-color: #d6fec2;
    display: inline-block;
    padding: 8px;
}

.signup-or-separator hr {
    margin: -23px auto 10px;
    width: 100%;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #dce0e0;
}

.nav-bar-shift{
    margin-left: 242px;
}

.nav-bar-shiftleft{
    padding-left: 8em;
}
a:hover {
    /*color: #f5f9fa;*/
    text-decoration: none;
}
a:active{
    /*color: #f5f9fa;*/
    text-decoration: none;
}
a:visited{
    /*color: #f5f9fa;*/
    text-decoration: none;
}
a:link{
    /*color: #f5f9fa;*/
    text-decoration: none;
}
.body-tag{
    overflow-x: hidden;
}
.para-style{
    font-family: sans-serif;
    font-size: 17px;
    font-stretch: semi-expanded;
	text-align:justify;
    /*font-style: italic;*/
}
.recordHeading{
	/*margin-top: 25px;*/
    font-size: 22px;
    font-weight: bold;
    background-color: #ccc;
    color: #000;
    padding-left: 36px;
    padding-top: 10px;
    margin-bottom: 25px;
}
.divHeading{
	/*margin-top:15px;*/
	font-size:13px;
}
.spanHeading{
	font-size: 12px;
}
.adminIcon{
	font-size:37px; 
	color:#057E96;
}
.iconalign{
	padding-left:15px;;
}
.emergencyheading{
	font-size:17px; 
	color:#adce39;
}
.emergencyrecord{
	padding:0px; 
	color:#fff;
}
.pediatric{
	font-size:16px; 
	color:#fff;
}
.tabmenurecord{
	background-color:#403e3e;
	color:#fff;
}
.hpispan{
	font-size:14px;
}
.formmargintop{
	margin-top:15px;
}
.symptoms{
	font-size:16px; 
	font-weight:bold;
}
.borderdivdotted{
	margin-top:15px; 
	border-style: dotted;
    border-width: 2px;
}
.divinsideheading{
padding-left:10px; 
font-weight:bold;
}
.borderdivsolid{
	margin-top:15px; 
	margin-bottom: 15px; 
	border: 1px solid;
}
.formcontentpadding{
	padding-left:10px;
}
