.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0 !important;
}
.wpb_wrapper{
	p{
		margin-top: 0;
	}
}
.entry-content{
	.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.vc_section-has-fill+.vc_section{
		padding-top: 0;
	}
}
.vc_row.row-bg-fixed{
	background-attachment: fixed !important;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}
.vc_row.ontop-253{
	@media (min-width: $sm_screen){
		margin-top: -253px;
		margin-bottom: 46px;
	}
}
.vc_row.space-45{
	@media (min-width: $sm_screen){
		margin-left: -45px;
		margin-right: -45px;
		>div .vc_column-inner{
			padding-left: 45px;
			padding-right: 45px;
		}
	}
}
.vc_row.visible{
	overflow: visible !important;
}
.vc_row.dark-mode-color{
	h1,h2,h3,h4,h5,h6{
		color: $white;
	}
	p{
		color: #ddd;
	}
	ul.products .wc-loop-content-wrap{
		.price{
			color: #eee;
		}
		a.add_to_cart_button{
			border-color: #121212;
		}
	} 
}

.column-mobile-border-none{
	.vc_column-inner{
		@media (max-width: $screen_sm_max){
			border: none !important;
		}
	}
}

.wpb_raw_html{
	.story-primary-block{
		background-color: $primary_color;
		padding: 57px 130px 53px 130px;
		border-radius: 3px;
		text-align: center;
		@media (max-width: $screen_sm_max){
			padding: 57px 70px 53px 70px;
		}
		@media (max-width: $screen_xs_max){
			padding: 30px 15px 30px 15px;
		}
		h2{
			font-size: 30px;
			line-height: 38px;
			letter-spacing: -0.03em;
			color: $white;
			font-weight: 700;
			margin-top: 0;
			margin-bottom: 6px;
			@media (max-width: $screen_xs_max){
				font-size: 20px;
				line-height: 28px;
			}
		}
		.silent-heading{
			color: $white;
			font-size: 24px;
			letter-spacing: 0.03em;
			cursor: pointer;
		    font-weight: 300;
    		font-style: italic;
			@include transition();
			@media (max-width: $screen_xs_max){
				font-size: 22px;	
			}
			&:after{
				background-color: $white;
				@include transition();
			}
			&:hover{
				color: rgba(255,255,255,0.7);
				&:after{
					background-color: rgba(255,255,255,0.7);
				}
			}
		}
		&.large{
			padding: 75px 150px 72px 150px;
			@media (max-width: $screen_sm_max){
				padding: 73px 50px 73px 50px;
			}
			@media (max-width: $screen_xs_max){
				padding: 56px 15px 56px 15px;
			}
			@media (max-width: $screen_xxs_max){
				padding: 56px 15px 56px 15px;
			}
			h2{
				font-size: 36px;
			    line-height: 45px;
			    letter-spacing: -0.03em;
				margin-bottom: 15px;
				@media (max-width: $screen_xxs_max){
					font-size: 26px;
			    	line-height: 32px;
				}
			}
		}
	}
	.haq{
		letter-spacing: -0.03em;
	}
}
.width-100{
	width: 100%;
	*{
		width: 100%;
	}
}
.vc_basic_grid{
	.vc_pageable-slide-wrapper{
		counter-reset: number;
	}
}
.vc_grid-item{
	.vc_gitem_row{
		margin-left: 0;
		margin-right: 0;
		.vc_gitem-col{
			padding: 0;
		}
	}
	&.cause-style1{
		@media (max-width: $screen_xs_max){
			margin-bottom: 30px;
		}
		.vc_gitem-zone-a{
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		.vc_gitem-zone-c{
			position: relative;
			padding: 30px 45px 47px 45px;
			@include box-shadow(0,0,40px,rgba(0,0,0,0.05));
			overflow: visible;
			border-bottom-left-radius: 4px;
    		border-bottom-right-radius: 4px;
    		background-color: $white;
			@media (max-width: $screen_md_max){
				padding: 30px 15px 37px 15px;
			}
		}
		.vc_gitem-col{
			position: inherit;
		}
		.gitem-entry-meta{
			position: absolute;
			top: -17px;
			font-size: 11px;
			color: $white;
			text-transform: uppercase;
			font-family: $extra_font;
			font-weight: 600;
			background-color: $primary_color;
		    padding: 7px 23px 5px 23px;
			border-radius: 3px;
			a{
				color: $white;
				&:hover{
					color: rgba(255,255,255,0.7);
				}
			}
		}
		.vc_gitem-post-data{
			margin-bottom: 0;
		}
		.vc_custom_heading{
			h4{
				letter-spacing: -0.03em;
				margin-top: 14px;
				margin-bottom: 8px;
				line-height: 28px;
			}
		}
		.post-excerpt{
			line-height: 24px;
			letter-spacing: -0.02em;
		}
		.donation-value{
			margin-top: 34px;
			.lbl{
				font-size: 15px;
				font-family: $extra_font;
				letter-spacing: -0.03em;
				display: block;
				line-height: 1;
				margin-bottom: 5px;
				color: $heading_color;
			}
			.value{
				font-family: $extra_font;
				font-size: 35px;
				font-weight: 700;
				color: $primary_color;
				letter-spacing: -0.04em;
				line-height: 1;
				@media (max-width: $screen_md_max){
					font-size: 30px;
				}
				@media (max-width: $screen_xxs_max){
					font-size: 28px;
				}
			}
		}
		.give-btn{
			position: absolute;
		    bottom: 46px;
		    right: 38px;
		    width: 60px;
		    height: 60px;
		    color: $white;
		    font-size: 15px;
		    border-radius: 50%;
		    text-align: center;
		    border: 1px dashed #797979;
		    display: inline-block;
		    padding-top: 8px;
		    i{
	    	    width: 42px;
			    height: 42px;
			    background-color: $primary_color;
			    border-radius: 50%;
			    display: inline-block;
			    margin: 0;
			    line-height: 42px;
			    @include transition();
		    }
			&:hover{
				i{
					background-color: #333;
				}
			}
		}
	}
}