/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	text-decoration: none;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: 700;
}

code,
kbd,
samp {
    background-color: rgba(0, 0, 0, 0.05);
	font-family: monospace, monospace;
	font-size: 1em;
    padding: 0.15em 0.5407911001em;
    border-radius: 2px;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #eee;
	color: #222;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dashed ButtonText;
}

fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}
 
.first {
    clear: both
}
.last {
    margin-right: 0
}

img.bottom-align {
	vertical-align: bottom;
}

figcaption, .entry-caption {
	padding: 2px 0 12px;
}

figcaption p, .entry-caption p {
	margin-bottom: 0;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; 
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.wp-caption-text{
	font-style: italic;
	line-height: 1.35;
	font-size: 13px;
}
.gallery-caption {
	font-family: inherit;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dd-select{
    border: 0 !important;
}
select.woocommerce-currency-switcher{
	border: 0;
	padding: 0;
    font-size: 13px;
    line-height: 1;
    color: #666;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after {
	clear: both;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading_color;
    word-break: break-word;
    font-family: $extra_font;
    line-height: 1.2;
    font-weight: 600;
    a{
        color: inherit;
        @include transition();
		&:first-child{
			margin-top: 0;
		}
        &:hover{
            color: $link_color_hover;
        }
    }
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
} 
 
p{
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2.2906835em;
  border-spacing: 0;
  border-collapse: separate;
}
table caption {
  padding: 1.41575em;
  font-weight: 600;
}
table th {
  background: #f2f2f2;
  font-weight: 500;
}
table th,
table td {
  padding: 1em 1.618em;
  vertical-align: top;
  text-align: left;
}
table thead th {
  vertical-align: middle;
}
table tbody td {
  background: #fafafa;
}
table tbody tr:nth-child(2n) td {
  background: #f7f7f7;
}
ul, ol {
	margin: 0 0 0 20px;
    padding: 0;
	li{
    	&:last-child{
    		padding-bottom: 0;
    	}
    }
	ul, ol{
		padding-left: 20px;
	}
}
ul{
	list-style: disc;
}
ol {
    list-style: decimal;
}

.rtl {
	ul, ol{
		ul, ol{
			padding-left: 0;
			padding-right: 20px;
		}
	}
	ol{
		padding-right: 20px;
		padding-left: 0;
	}
}
 
blockquote {
    color: #989898;
    font-size: 18px;
    line-height: 28px;
    padding: 46px 0 42px 0;
    margin-bottom: 0;
    background: #f5f5f5;
    border-radius: 0;
    border-left: 5px solid $primary_color;
    position: relative;
    margin: 42px 0 42px 0;
    p{
        position: relative;
        font-style: inherit;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin: 0 38px 0 43px;
        &:before {
            content: none;
            font-size: 72px;
            display: inline-block;
            position: relative;
            margin-right: 15px;
            font-style: normal;
            position: absolute;
            left: 0;
            top: 10px;
        }
        &:after{
            content: none;
            font-size: 72px;
            display: inline-block;
            position: relative;
            font-style: normal;
            position: absolute;
            right: 0;
            bottom: 7px;
        }
    }
    cite{
        position: absolute;
        right: -38px;
        bottom: -84px;
        color: #000;
        font-size: 16px;
        line-height: 24px;
        font-style: italic;
    }
}
 
img, figure {
    max-width: 100%;
    height: auto;
}
 
address {
	margin: 0 0 10px;
}

pre {
	background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

:focus {
	outline: none;
}

a{
	color: $link_color;
	text-decoration: none;
	@include transition();
	&:hover{
		color: $link_color_hover;
		text-decoration: none;
	}
	&:active,
	&:focus{
		text-decoration: none;
	}
	&[data-toggle="popover"]{
		cursor: pointer;
	}
}

.navigation{
	display: block;
	.screen-reader-text{
		display: none;
	}
	margin: 0 -5px;
	&.page-links a,
	&.page-links > span:not(.page-links-title),
	.page-numbers{
		margin: 0 5px;
		color: $heading_color;
		display: inline-block;
		&.current,
		&:hover{
			color: $primary_color;
		}
		&.current{
			cursor: not-allowed;
		}
		&:nth-child(n+10):before,
		&.next:before,
		&.prev:before,
		&.dots:before{
			content: "";
		}
	}
	&.page-links > span:not(.page-links-title){
		color: $primary_color;
		cursor: not-allowed;
	}
}

.disabled{
	cursor: not-allowed;
	@include opacity(0.5);
}